body {
	color: white;
	background-image: url('../images/beach.jpg');
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-repeat: no-repeat center center fixed;
	padding: 4em 3em 3em 3em; 
}

h2 {
	padding-top: 0.5em;
}

a {
	background: yellow;
	padding: 0.5em;
	border-radius: 0.5em;
	border: darkblue;
	border: 2px;
	margin:0.25em;
	text-decoration: none;
	color: seagreen;
}